.img{
  background-image: url(src\assets\images\badminton.png);
  background-repeat: no-repeat repeat-y;
  background-size: cover;
  background-position: 0% 90%;
  position: relative;
}
.subheading{
  text-transform: uppercase;
}
.offer-1{
  font-size: 0.7in;
  font-weight: 100;
  font-style: italic;
  font-family: 'Pacifico', cursive;
}
.offer-2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal-body{
  background-color:violet;
}
.modal-header .modal-body h2 sup {
  position: absolute;
  top: 50%;
  right: -30px;
  font-size: 150px;
  font-weight: 700;
  margin-top: 10px;
  color: white;
}
.modal-header .modal-body h2 span {
  font-size: 130px;
  font-weight: 700;
  margin-left: -20px;
  color: #fff;
}

sub{
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  color: white;
}
.w-100{
  margin-right: -10px;
}
