<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"> -->

<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <div class="modal-header">
    <h5 class="modal-title">Special Offer Available</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex">
      <div class="modal-body p-5 d-flex">
        <div class="w-100 text text-center">
          <span class="subheading">Summer</span>
          <h3 class="offer-1">Offer</h3>
          <h2><span>20</span><sub>% off</sub></h2>
          <p class="upper">To all Games</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex" style="justify-content: center;">
      <div class="modal-body p-5 img d-flex align-items-center">
        <div class="text">
          <h4 class="offer-2">Limited offer</h4>
          <a href="#" class="btn btn-primary" style="margin-left: 30px;">Book Slot</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" style="display: block;" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Special Offer Available</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="row no-gutters">
        <div class="col-md-6 d-flex">
          <div class="modal-body p-5 d-flex">
            <div class="w-100 text text-center">
              <span class="subheading">Summer</span>
              <h3 class="offer-1">Offer</h3>
              <h2><span>20</span><sub>%</sub><sub>off</sub></h2>
              <p class="upper">To all Games</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex" style="justify-content: center;">
          <div class="modal-body p-5 img d-flex align-items-center">
            <div class="text">
              <h4 class="offer-2">Limited offer</h4>
              <a href="#" class="btn btn-primary" style="margin-left: 30px;">Book Slot</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
