<body>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <section class="container" style="margin-top: 10px;">
    <!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Offer</button> -->
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/HomeCarousel/cricketground.jpeg" class="d-block w-100" alt="Random first slide" />
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Where Champions Play on Turf</h5>
          <p>Join a community of passionate athletes who choose our turf facility for its superior playability,
            professional-grade amenities, and the opportunity to train like champions</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/HomeCarousel/badminton-court.png" class="d-block w-100" alt="Random second slide" />
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Your Playground, Our Turf</h5>
          <p>Our inviting turf facility is not just a field, but a dynamic playground where you can unleash your energy,
            push your limits, and create unforgettable memories</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/HomeCarousel/turf.png" class="d-block w-100" alt="Random third slide" />
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Game On! Turf That Inspires Greatness</h5>
          <p>Get ready to be inspired as you step onto our meticulously designed turf, where the passion for the game
            meets the drive for greatness</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </section>

  <div class="b-example-divider"></div>
  <section class="app-features-section">
    <div class="container-fluid" style="margin-top: 20px;">
      <div class="text" style="margin-bottom: 30px;">
        <h5 style="font-weight: bold; font-size: x-large; text-align: center;"><img src="assets/images/logo.png" alt=""
            width="100" height="45" class="d-inline-block align-text-top"><br></h5>
        <h4 style="text-align: center; font-style: italic;">{{"Discover Our World of Facilities and Activities" |
          uppercase}}<br></h4>
        <h6 style="text-align: center; margin-left: 150px; margin-right: 150px;">Begin your journey with us and let your
          curiosity guide you through an extraordinary range of options that await your exploration. Discover Turf Time
        </h6>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="feature-wrap wow  fadeIn slow animated" style="visibility: visible; animation-name: fadeIn;">
            <img src="assets/images/HomeIcons/search.png" class="img-fluid wow  bounceIn slower" alt="Playspots"
              style="visibility: visible; animation-name: bounceIn;">
            <h4 class="wow  fadeInUp slow" style="visibility: visible; animation-name: fadeInUp;">Search</h4>
            <div class="content">
              <p>Are you planning a Sunday for football game or looking to play after work? Investigate the turf and
                reserve your playing location.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-wrap wow  fadeIn slow animated" style="visibility: visible; animation-name: fadeIn;">
            <img src="assets/images/HomeIcons/book.png" class="img-fluid wow  bounceIn slower" alt="Playspots"
              style="visibility: visible; animation-name: bounceIn;">
            <h4 class="wow  fadeInUp slow" style="visibility: visible; animation-name: fadeInUp;">Book</h4>
            <div class="content">
              <p>Once you've found the perfect place or court, connect with the venue by clicking the "Book Now" option
                to
                make an online reservation that is safe and simple to pay for.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-wrap wow  fadeIn slow animated" style="visibility: visible; animation-name: fadeIn;">
            <img src="assets/images/HomeIcons/play.png" class="img-fluid wow  bounceIn slower" alt="Playspots"
              style="visibility: visible; animation-name: bounceIn;">
            <h4 class="wow  fadeInUp slow" style="visibility: visible; animation-name: fadeInUp;">Play</h4>
            <div class="content">
              <p>You’re the hero, you’ve found a stunning turf or court, booked with ease and now its time to play. The
                scene is set for your epic match.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="b-example-divider"></div>
<section class="container-fluid" style="margin-top: 10px;">
  <div class="text" style="margin-bottom: 30px;">
    <h5 style="font-weight: bold; font-size: x-large; text-align: center;">------- Our Facilities -------<br></h5>
    <h4 style="text-align: center; font-style: italic;">WE'VE GOT YOU COVERED<br></h4>
    <h6 style="text-align: center; margin-left: 150px; margin-right: 150px;">At Turf Time Arena, we understand your needs and enhance your fun experience. Here are the facilities you can look forward to</h6>
  </div>
  <div class="container">
    <div class="row d-flex">
      <div class="card card-service">
        <img src="assets/images/HomeIcons/wifi.png" width="70" height="70">
        <div class="block-text">
          Free Wifi
        </div>
      </div>
      <div class="card card-service">
        <img src="assets/images/HomeIcons/cafe.png" width="70" height="70">
        <div class="block-text">
          Cafe &amp; Eatery
        </div>
      </div>
      <div class="card card-service">
        <img src="assets/images/HomeIcons/firstaid.png" width="70" height="70">
        <div class="block-text">
          First-Aid
        </div>
      </div>
    </div>
    <div class="row d-flex">
      <div class="card card-service">
        <img src="assets/images/HomeIcons/parking.png" width="70" height="70">
        <div class="block-text">
          Parking Available
        </div>
      </div>
      <div class="card card-service">
        <img src="assets/images/HomeIcons/lockers.png" width="70" height="70">
        <div class="block-text">
          Changerooms &amp; Lockers
        </div>
      </div>
      <div class="card card-service">
        <img src="assets/images/HomeIcons/restroom.png" width="70" height="70">
        <div class="block-text">
          Restrooms &amp; Showers
        </div>
      </div>
    </div>
  </div>
</section>

  <div class="b-example-divider"></div>
  <section *ngIf="offerService.isOfferValid" class="container-fluid">
    <div class="py-1">
      <div class="row">
        <div class="col-lg-4 mx-auto">
          <div class="rounded bg-gradient-4 text-white shadow p-5 text-center">
            <p class="mb-0 font-weight-bold text-uppercase">Special Offer Ends In</p>
            <div id="clock-c" class="countdown py-4"></div>
            <span class="h1 font-weight-bold">{{offerService.Days}}</span> Day
            <span class="h1 font-weight-bold">{{offerService.Hours}}</span> Hr
            <span class="h1 font-weight-bold">{{offerService.Minutes}}</span> Min
            <span class="h1 font-weight-bold">{{offerService.Seconds}}</span> Sec
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="container-fluid" style="margin-top: 10px;">
    <div class="text" style="margin-bottom: 30px;">
      <h5 style="font-weight: bold; font-size: x-large; text-align: center;">------- Our Activities -------<br></h5>
      <h4 style="text-align: center; font-style: italic;">NUMEROUS OPPORTUNITIES TO HAVE FUN, ALL IN ONE ARENA<br></h4>
      <h6 style="text-align: center; margin-left: 150px; margin-right: 150px;">Turf Time is for all – not just kids but
        adults too. Unique, entertaining, and focused on physical fitness, Turf time will have you coming back for more.
        Get to the Turf time to try out activities like Volleyball, futsal, cricket, badminton and more. Don't miss
        out!!
        Give us a visit ASAP</h6>
    </div>
    <ul ngbNav #navmain="ngbNav" [(activeId)]="active" class="nav-underline justify-content-center">
      <li [ngbNavItem]="1">
        <button ngbNavLink>All Games</button>
        <ng-template ngbNavContent>
          <section class="container">
            <ul ngbNav #navsmall1="ngbNav" [(activeId)]="activeSmall" class="nav-tabs">
              <li *ngFor="let games of gamesList; let i = index" [ngbNavItem]="i">
                <button ngbNavLink>{{games.sportName}}</button>
                <ng-template ngbNavContent>
                  <div *ngIf="!offerService.isOfferValid" class="row d-flex mt-4" style="margin-left: 50px;">
                    <h5>Price Details:</h5>
                    <h6>Weekdays - {{ games.priceForWeekday |currency:'INR'}}/hour</h6>
                    <h6>Weekend - {{ games.priceForWeekend |currency:'INR'}}/hour</h6>
                  </div>
                  <div *ngIf="offerService.isOfferValid" class="row d-flex mt-4" style="margin-left: 50px;">
                    <h5>Price Details: <span class="badge rounded-pill bg-success">offer applied</span></h5>
                    <h6>Weekdays - {{ games.priceForWeekday | OfferPrice:20 |currency:'INR' }}/hour</h6>
                    <small style="text-decoration: line-through;" class="text-danger">Weekdays - {{
                      games.priceForWeekday |currency:'INR'}}/hour</small>
                    <h6>Weekend - {{ games.priceForWeekend | OfferPrice:20 |currency:'INR' }}/hour</h6>
                    <small style="text-decoration: line-through;" class="text-danger">Weekend - {{ games.priceForWeekend
                      |currency:'INR'}}/hour</small>
                  </div>
                  <div id="category-all" class="col category-all">
                    <img id="image-179-2" alt="{{games.description}}"
                      src="TurfTimeApi/wwwroot/GameImage/{{games.imageUrl}}" class="ct-image" height="400" width="650">
                    <div class="top-right"><button class="btn btn-primary"><i class="bi bi-geo-alt"></i>
                        {{games.venueName}}</button></div>
                    <div class="bottom-right">
                      <a routerLink="/user-viewGameDetails/{{games.id}}" class="btn btn-outline-light">View More</a>
                      <a routerLink="/user-bookingDetails/{{games.id}}" class="btn btn-outline-light">Book Slot</a>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="navsmall1"></div>
          </section>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Indoor</button>
        <ng-template ngbNavContent>
          <section class="container">
            <ul ngbNav #navsmall2="ngbNav" [(activeId)]="activeSmall"  class="nav-tabs">
              <li *ngFor="let games of gamesList; let i = index" [ngbNavItem]="i">
                <ng-container *ngIf="games.category === 'Indoor'">
                  <button ngbNavLink>{{games.sportName}}</button>
                  <ng-template ngbNavContent>
                    <div *ngIf="!offerService.isOfferValid" class="row d-flex mt-4" style="margin-left: 50px;">
                      <h5>Price Details:</h5>
                      <h6>Weekdays - {{ games.priceForWeekday |currency:'INR'}}/hour</h6>
                      <h6>Weekend - {{ games.priceForWeekend |currency:'INR'}}/hour</h6>
                    </div>
                    <div *ngIf="offerService.isOfferValid" class="row d-flex mt-4" style="margin-left: 50px;">
                      <h5>Price Details: <span class="badge rounded-pill bg-success">offer applied</span></h5>
                      <h6>Weekdays - {{ games.priceForWeekday | OfferPrice:20 |currency:'INR' }}/hour</h6>
                      <small style="text-decoration: line-through;" class="text-danger">Weekdays - {{
                        games.priceForWeekday |currency:'INR'}}/hour</small>
                      <h6>Weekend - {{ games.priceForWeekend | OfferPrice:20 |currency:'INR' }}/hour</h6>
                      <small style="text-decoration: line-through;" class="text-danger">Weekend - {{
                        games.priceForWeekend |currency:'INR'}}/hour</small>
                    </div>
                    <div id="category-all" class="col category-all">
                      <img id="image-179-2" alt="{{games.description}}"
                        src="TurfTimeApi/wwwroot/GameImage/{{games.imageUrl}}" class="ct-image" height="400"
                        width="650">
                      <div class="top-right"><button class="btn btn-primary"><i class="bi bi-geo-alt"></i>
                          {{games.venueName}}</button></div>
                      <div class="bottom-right">
                        <a routerLink="/user-viewGameDetails/{{games.id}}" class="btn btn-outline-light">View More</a>
                        <a routerLink="/user-bookingDetails/{{games.id}}" class="btn btn-outline-light">Book Slot</a>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </li>
            </ul>
            <div [ngbNavOutlet]="navsmall2"></div>
          </section>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <button ngbNavLink>Outdoor</button>
        <ng-template ngbNavContent>
          <section class="container">
            <ul ngbNav #navsmall3="ngbNav" [(activeId)]="activeSmall"  class="nav-tabs">
              <li *ngFor="let games of gamesList; let i = index" [ngbNavItem]="i">
                <ng-container *ngIf="games.category === 'Outdoor'">
                  <button ngbNavLink>{{games.sportName}}</button>
                  <ng-template ngbNavContent>
                    <div *ngIf="!offerService.isOfferValid" class="row d-flex mt-4" style="margin-left: 50px;">
                      <h5>Price Details:</h5>
                      <h6>Weekdays - {{ games.priceForWeekday |currency:'INR'}}/hour</h6>
                      <h6>Weekend - {{ games.priceForWeekend |currency:'INR'}}/hour</h6>
                    </div>
                    <div *ngIf="offerService.isOfferValid" class="row d-flex mt-4" style="margin-left: 50px;">
                      <h5>Price Details: <span class="badge rounded-pill bg-success">offer applied</span></h5>
                      <h6>Weekdays - {{ games.priceForWeekday | OfferPrice:20 |currency:'INR' }}/hour</h6>
                      <small style="text-decoration: line-through;" class="text-danger">Weekdays - {{
                        games.priceForWeekday |currency:'INR'}}/hour</small>
                      <h6>Weekend - {{ games.priceForWeekend | OfferPrice:20 |currency:'INR' }}/hour</h6>
                      <small style="text-decoration: line-through;" class="text-danger">Weekend - {{
                        games.priceForWeekend |currency:'INR'}}/hour</small>
                    </div>
                    <div id="category-all" class="col category-all">
                      <img id="image-179-2" alt="{{games.description}}"
                        src="TurfTimeApi/wwwroot/GameImage/{{games.imageUrl}}" class="ct-image" height="400"
                        width="650">
                      <div class="top-right"><button class="btn btn-primary"><i class="bi bi-geo-alt"></i>
                          {{games.venueName}}</button></div>
                      <div class="bottom-right">
                        <a routerLink="/user-viewGameDetails/{{games.id}}" class="btn btn-outline-light">View More</a>
                        <a routerLink="/user-bookingDetails/{{games.id}}" class="btn btn-outline-light">Book Slot</a>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </li>
            </ul>
            <div [ngbNavOutlet]="navsmall3"></div>
          </section>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="navmain"></div>

    <!-- <div id="category-all" class="category-all">
    <img id="image-179-2"
      alt="A splendid inner view of a trampoline park in Chennai."
      src="https://www.dugoutchennai.com/wp-content/uploads/2022/12/Trampoline-bg.png" class="ct-image"
      srcset="https://www.dugoutchennai.com/wp-content/uploads/2022/12/Trampoline-bg.png 1140w, https://www.dugoutchennai.com/wp-content/uploads/2022/12/Trampoline-bg-300x154.png 300w, https://www.dugoutchennai.com/wp-content/uploads/2022/12/Trampoline-bg-1024x526.png 1024w, https://www.dugoutchennai.com/wp-content/uploads/2022/12/Trampoline-bg-768x395.png 768w"
      sizes="(max-width: 1000px) 70vw, 900px">
  </div> -->
  </section>

  <div class="b-example-divider"></div>
  <section class="container" style="margin-top: 10px;">
    <div class="text" style="margin-bottom: 30px;">
      <h5 style="font-weight: bold; font-size: x-large; text-align: center;">------- Our Gallery -------<br></h5>
      <h4 style="text-align: center; font-style: italic;">LET’S PLAY, CHENNAI<br></h4>
      <h6 style="text-align: center; margin-left: 150px; margin-right: 150px;">Check out some of the exciting sports
        take place in our Turf Time</h6>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">

        <img src="assets/images/HomeGallery/gallery4.png" class="w-100 shadow-1-strong rounded mb-4"
          alt="Table tennis" />
        <img src="assets/images/HomeGallery/gallery10.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Cricket" />
        <img src="assets/images/HomeGallery/gallery11.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Children" />
      </div>
      <div class="col-lg-4 col-md-10 mb-5 mb-lg-0">
        <img src="assets/images/HomeGallery/gallery3.webp" class="w-100 shadow-1-strong rounded mb-4" alt="Tennis" />

        <img src="assets/images/HomeGallery/gallery5.png" class="w-100 shadow-1-strong rounded mb-4"
          style="height: 79vh;" alt="Basketball" />
      </div>
      <div class="col-lg-4 mb-3 mb-lg-0">
        <img src="assets/images/HomeGallery/gallery1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Football" />

        <img src="assets/images/HomeGallery/gallery7.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Cricket" />
        <img src="assets/images/HomeGallery/gallery9.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Badminton" />
      </div>
    </div>
  </section>

  <div class="b-example-divider"></div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <section class="container" style="margin-top: 10px;">
    <div class="text" style="margin-bottom: 10px;">
      <h5 style="font-weight: bold; font-size: x-large; text-align: center;">------- Reviews / Testimonials -------<br>
      </h5>
      <h4 style="text-align: center; font-style: italic;">THEY’VE WITNESSED THE ARENA. NOW IT’S YOUR TURN<br></h4>
    </div>
    <div *ngIf="this.authService.isLoggedIn()" class="d-flex mb-3" style="justify-content: center;">
      <button class="btn btn-md btn-outline-primary" style="margin: 5px;" (click)="openFeedback(content)">GIVE US YOUR FEEDBACK</button>
    </div>
    <div class="row text-center">
      <div class="col-md-4 mb-4 mb-md-0" *ngFor="let feedback of feedbackList">
        <div class="card card-review">
          <div class="card-body" style="padding-top: 0px;">
            <div class="d-flex justify-content-end">
              posted on {{feedback.feedbackDate | date:'d MMM yyyy'}}
            </div>
            <div class="d-flex justify-content-center mb-4">
            </div>
            <h5 class="font-weight-bold">{{feedback.fullName}}</h5>
            <h6 class="font-weight-bold">{{feedback.emailId}}</h6>
            <div class="star-rating">
              <ul class="list-inline">
                <li class="list-inline-item" *ngFor="let star of generateStarsArray()">
                  <i class="fa" [class.fa-star]="star <= feedback.ratings" [class.fa-star-o]="star > feedback.ratings"></i>
                </li>
              </ul>
            </div>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>
              {{feedback.comments}}
            </p>
            <div *ngIf="this.authService.isLoggedIn() && feedback.emailId==userCart.emailId " ngbDropdown class="d-flex justify-content-end">
              <a type="button" class="" id="dropdownBasic1" ngbDropdownToggle>More actions</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <!-- <button ngbDropdownItem>Edit Review</button> -->
                <a (click)="deleteFeedback(feedback.feedbackId)" ngbDropdownItem>Delete Review</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Feedback Request</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <p>
          <strong>Your opinion matters</strong>
        </p>
        <p>
          Have some ideas to improve our turf?
          <strong>Give us your feedback.</strong>
        </p>
      </div>
      <form class="px-4" [formGroup]="feedbackForm">
        <p class="text-center"><strong>Your rating:</strong></p>
        <div class="mb-3">
          <div class="rating">
            <input type="number" name="ratings" hidden formControlName="ratings">
            <i class='bx bx-star star' [class.bxs-star]="ratingValue >= 1" (click)="setRating(1)"></i>
            <i class='bx bx-star star'[class.bxs-star]="ratingValue >= 2" (click)="setRating(2)"></i>
            <i class='bx bx-star star'[class.bxs-star]="ratingValue >= 3" (click)="setRating(3)"></i>
            <i class='bx bx-star star'[class.bxs-star]="ratingValue >= 4" (click)="setRating(4)"></i>
            <i class='bx bx-star star'[class.bxs-star]="ratingValue >= 5" (click)="setRating(5)"></i>
          </div>

        </div>
        <p class="text-center"><strong>What could we improve?</strong></p>
        <div class="form-outline mb-4">
          <label class="form-label" for="comments">Your feedback</label>
          <textarea class="form-control" id="comments" formControlName="comments" rows="4"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');submitFeedback()">Submit</button>
    </div>
  </ng-template>

  <div class="b-example-divider"></div>
  <section class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="contact-body d-flex">
      <div class="contact-details">
        <div class="d-flex">
          <img src="assets/images/logo.png" alt="" width="100" height="50" class="d-inline-block align-text-top">
        </div>
        <div class="flex">
          <div class="row" style="width: 120vh;">
            <div class="col contact-2">
              <p>2ND FLOOR, BHARATHI NAGAR, KODUNGAIYUR</p>
              <hr style="width: 52vh;">
              <p>Basketball | Table tennis | Tennis | Cricket | Football</p>
              <div class="number-2 d-flex">
                <a style="padding: 10px;" href="tel:+91 9084422881" class="btn btn-outline-info"><i
                    class="bi bi-telephone-inbound-fill" style="padding: 5px;"></i>{{ "Contact:9084422881" |
                  FormatMobileNumber }}</a>
              </div>
            </div>
            <div class="col contact-1">
              <p>B&amp;C MILLS, STEPHENSON ROAD, PERAMBUR</p>
              <hr style="width: 50vh; margin-left: 20px;">
              <p>Badminton | Volleyball | Hockey | Cricket</p>
              <div class="number-1 d-flex">
                <a style="padding: 10px;" href="tel:+91 9308422882" class="btn btn-outline-info"><i
                    class="bi bi-telephone-inbound-fill" style="padding: 5px;"></i> {{ "Contact:930-842-2882" |
                  FormatMobileNumber }}</a>
              </div>
            </div>
            <div class="d-flex">
              <a style="margin-left: 20px; padding: 10px;" href="mailto:turftime@gmail.com"
                class="btn btn-outline-info"><i class="bi bi-envelope-fill" style="padding: 5px;"></i>
                turftime@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
