<section class="vh-130" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px; margin-top: 10px; margin-bottom: 10px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-8">
                <form [formGroup]="editGame" (ngSubmit)="onSubmit()">

                  <h5 class="fw-normal mb-3 pb-3" style="text-align: center;">Update Games Details</h5>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-outline mb-4">
                        <label class="form-label" for="sportName">Sport Name</label>
                        <input type="text" id="sportName" name="sportName" class="form-control" formControlName="sportName"/>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-outline mb-4">
                        <label class="form-label" for="venueName">Venue Name</label>
                        <select class="form-select" id="venueName" name="venueName" aria-label="Default select example" formControlName="venueName">
                          <option value="B&amp;C Mills, Stephenson Road, Perambur">Perambur</option>
                          <option value="2nd Floor, Bharathi Nagar, Kodungaiyur">Kodungaiyur</option>
                        </select>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-outline mb-4">
                        <label class="form-label" for="priceForWeekday">Weekdays Price/hour</label>
                        <input type="text" id="priceForWeekday" name="priceForWeekday" class="form-control" formControlName="priceForWeekday"/>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-outline mb-4">
                        <label class="form-label" for="priceForWeekend">Weekend Price/hour</label>
                        <input type="text" id="priceForWeekend" name="priceForWeekend" class="form-control" formControlName="priceForWeekend"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-outline mb-4">
                        <label class="form-label" for="description">Description</label>
                        <textarea type="text" id="description" name="description" class="form-control" formControlName="description"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-outline mb-4">
                        <label class="form-label" for="imageUrl">Image</label><br>
                        <!-- <img [src]="gameDetails.get('imageUrl')?.value" height="100" width="150" class="d-block" style="border: solid 0.5px grey" alt="Image Preview"><br> -->
                        <input type="file" id="imageUrl" name="imageUrl" class="form-control" formControlName="imageUrl" (change)="onSelectFile($event)">
                        <div class="text-danger" *ngIf="imageFormatError!=null">
                          <small>{{imageFormatError}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-outline mb-4">
                        <label class="form-label" for="category">Category</label>
                        <select class="form-select" id="category" name="category" aria-label="Default select example" formControlName="category">
                          <option value="Indoor">Indoor</option>
                          <option value="Outdoor">Outdoor</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="pt-1 mb-4">
                    <button class="btn btn-info btn-lg btn-block" style="margin-left: 40%;" type="submit">Update</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

