<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<section class="container-fluid">
  <div class="book-slot-header" id="background-img">
    <h5 style="padding-top: 40px; padding-bottom: 20px;">------- Bookings -------</h5>
    <h4>BOOK YOUR SLOT FOR TODAY<br></h4>
  </div>
  <div class="location-header">
    <br><br><h5>------- Our Locations &amp; Activities available -------<br><br></h5>
    <div class="location-details">
      <div class="location-1">
        <i class="bi bi-geo-alt-fill"></i> 2ND FLOOR, BHARATHI NAGAR, KODUNGAIYUR <a style="margin-left: 20px; padding: 10px;" href="tel:+91 9084422881" class="btn btn-outline-info"><i class="bi bi-telephone-inbound-fill" style="padding: 5px;"></i> +91 9084422881</a>
        <div class="activities-1">
          <div class="row">
            <div class="card">
              <img src="assets/images/BookSlotIcons/basketball.png" class="d-flex">
              <div class="card-title" style="font-size:medium; text-align: center; font-weight: bold;">Basketball</div>
            </div>
            <div class="card">
              <img src="assets/images/BookSlotIcons/tabletennis.png" class="d-flex">
              <div class="card-title" style="font-size:medium; text-align: center; font-weight: bold;">Table Tennis</div>
            </div>
            <div class="card">
              <img src="assets/images/BookSlotIcons/tennis.png" class="d-flex">
              <div class="card-title" style="font-size:medium; text-align: center; font-weight: bold;">Tennis</div>
            </div>
            <div class="card">
              <img src="assets/images/BookSlotIcons/cricket.png" class="d-flex">
              <div class="card-title" style="font-size:medium; text-align: center; font-weight: bold;">Cricket</div>
            </div>
            <div class="card">
              <img src="assets/images/BookSlotIcons/football.jpeg" class="d-flex">
              <div class="card-title" style="font-size:medium; text-align: center; font-weight: bold;">Football</div>
            </div>
          </div>
        </div>
      </div>
      <div class="location-2">
        <i class="bi bi-geo-alt-fill"></i> B&amp;C MILLS, STEPHENSON ROAD, PERAMBUR <a style="margin-left: 20px; padding: 10px;" href="tel:+91 9308422882" class="btn btn-outline-info"><i class="bi bi-telephone-inbound-fill" style="padding: 5px;"></i> +91 9308422882</a>
        <div class="activities-2">
          <div class="row">
            <div class="card">
              <img src="assets/images/BookSlotIcons/badminton.jpeg" class="d-flex">
              <div class="card-title" style="font-size:medium; text-align: center; font-weight: bold;">Badminton</div>
            </div>
            <div class="card">
              <img src="assets/images/BookSlotIcons/cricket.png" class="d-flex">
              <div class="card-title" style="font-size:medium; text-align: center; font-weight: bold;">Cricket</div>
            </div>
            <div class="card">
              <img src="assets/images/BookSlotIcons/volleyball.png" class="d-flex">
              <div class="card-title" style="font-size:medium; text-align: center; font-weight: bold;">Volleyball</div>
            </div>
            <div class="card">
              <img src="assets/images/BookSlotIcons/hockey.jpg" class="d-flex">
              <div class="card-title" style="font-size:medium; text-align: center; font-weight: bold;">Hockey</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="book-button">
      <div class="d-flex">
        <button class="btn btn-outline-info">GIVE US A CALL TO BOOK SLOT</button>
        <a routerLink="/user-bookingDetails" class="btn btn-outline-info">BOOK ONLINE</a>
      </div>
    </div>
  </div>
</section>
