<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<section class="container-fluid" style="margin-bottom: 5vh;">
  <div class="contact-header" id="background-img">
    <br><br><h5>------- Contact Details -------<br><br></h5>
    <h4>REACH OUT TO US<br></h4>
  </div>
  <div class="contact-body d-flex">
    <div class="contact-details">
      <div class="d-flex">
        <img src="assets/images/logo.png" alt="" width="100" height="50" class="d-inline-block align-text-top">
      </div>
      <div class="flex">
      <div class="row" style="width: 120vh;" >
        <div class="col contact-2">
          <p>2ND FLOOR, BHARATHI NAGAR, KODUNGAIYUR</p><hr style="width: 52vh;">
          <p>Basketball | Table tennis | Tennis | Cricket | Football</p>
          <div class="number-2 d-flex">
            <a style="padding: 10px;" href="tel:+91 9084422881" class="btn btn-outline-info"><i class="bi bi-telephone-inbound-fill" style="padding: 5px;"></i>{{ "Contact:9084422881" | FormatMobileNumber }}</a>
          </div>
        </div>
        <div class="col contact-1">
          <p>B&amp;C MILLS, STEPHENSON ROAD, PERAMBUR</p><hr style="width: 49vh; margin-left: 30px;">
          <p>Badminton | Volleyball | Hockey | Cricket</p>
          <div class="number-1 d-flex">
            <a style="padding: 10px;" href="tel:+91 9308422882" class="btn btn-outline-info"><i class="bi bi-telephone-inbound-fill" style="padding: 5px;"></i> {{ "Contact:930-842-2882" | FormatMobileNumber }}</a>
          </div>
        </div>
        <div class="d-flex">
          <a style="margin-left: 20px; padding: 10px;" href="mailto:turftime@gmail.com" class="btn btn-outline-info"><i class="bi bi-envelope-fill" style="padding: 5px;"></i> turftime@gmail.com</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
